[tool.cibuildwheel]
build-verbosity = "3"
test-command = [
  "python {package}/testdata/pymod/import_db.py",
  "python {package}/testdata/pymod/import_rdb.py",
  "python {package}/testdata/pymod/import_tl.py",
  "python {package}/testdata/pymod/import_lib.py",
  "python {package}/testdata/pymod/import_lay.py",
  "TESTSRC={package} python {package}/testdata/pymod/pya_tests.py"
]
# Disable building PyPy wheels on all platforms
skip = "pp*"

# Skip trying to test arm64 builds on Intel Macs
test-skip = "*-macosx_arm64 *-macosx_universal2:arm64"

[tool.cibuildwheel.linux]
# beware: the before-all script does not persist environment variables!
# No point in defining $PATH or $CCACHE_DIR
before-all = "source {project}/ci-scripts/docker/docker_prepare.sh"
archs = ["auto64"]
# Append a directory to the PATH variable (this is expanded in the build environment)
environment = { PATH="/usr/lib/ccache:/usr/lib64/ccache:/usr/lib/ccache/bin:$PATH" }
before-build = "ccache -s"
# Export a variable to docker
# CCACHE_DIR="/home/runner/work/klayout/klayout/.ccache"
environment-pass = ["HOST_CCACHE_DIR"]

[tool.cibuildwheel.macos]
before-all = [
  "brew install libpng",
  "brew deps --tree --installed",
]

# TEMP while Github Actions does not provide an Apple Silicon runner
# TODO Simply remove it when it's available
archs = ["x86_64", "arm64"]
before-build = [
  "ccache -s",
  "bash {project}/ci-scripts/macos/libpng-patch.sh",
]
# Repair macOS wheels (include libpng with the wheel, for example)
repair-wheel-command = "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v --ignore-missing-dependencies {wheel}"